.about{
    display: flex;
    flex-direction: row-reverse;
    margin: 5vw;
}

/*profile picture*/
.aboutPic{
    padding: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profilePic {
    max-width: 75%;
    height: auto;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

/*logos and links to work*/
.aboutPic ul{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.aboutPic ul img{
    padding: 1vw;
    width: 2vw;
}

.profile{
    padding: 1vw;
    font-size: 1.5em;
}
@media only screen and (max-width: 768px) {
    .about{
    flex-direction: column;
    }
    .aboutPic ul{
        flex-direction: row;
    }
    .aboutPic ul img{
        padding: 1vw;
        width: 3vw;
    }
    .profilePic {
        max-width: 25%;
        height: auto;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
    }
    .profile{
        padding: 1vw;
        font-size: 1em;
    }
}