body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

a {
  text-decoration: none;
}

.skills {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: bold;
  line-height: 150%;
  text-decoration: none;
  margin: 0;
  display: block;
  text-transform: none;
  color: #fffbf1;
  text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
  animation: fadeInRight ease 4s;
}

.click {
  padding: 5px;
  font-size: 15px;
  line-height: 150%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
  display: block;
  text-transform: none;
  color: #fffbf1;
  text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
  animation: fadeInRight ease 4s;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.name {
  font-family: 'Great Vibes', cursive;
  color: #fffbf1;
  text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
  font-size: 80px;
  line-height: 150%;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
  display: block;
  text-transform: none;
  animation: fadeInLeft ease 4s;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}