/*updating default margins*/
body{
    margin: auto 0;
}

/*nav styles*/
nav{
    margin-top: .5em;
    font-size: 1em;
    height: auto;
    background-color: black;    
}
nav ul{
    display:flex;
    align-items: center;
    list-style: none;
}
nav ul li{
    padding: 1em;
}
nav ul a{
    text-decoration: none;
    color: white;
}
.activePage{
    color: #8AA2B0;
}
.contact{
    margin-left: auto;
}


